# DATABAS CONFIGURATION TO LOCAL DEV, OR LOCAL DEPLOY
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=postgres
DB_PORT=5432

# API CONFIGURATION
PORT=4000
JWT_SECRET=
IP_HOST=192.168.0.11
DATABASE_URL=postgresql://postgres:postgres@192.168.0.11:5432/postgres?schema=public

# DEFAULT ADMIN CREDENTIALS
ADMIN_EMAIL=admin@admin.com
ADMIN_PASSWORD=admin
